<%- include('../partials/header') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="h1 display-4">404</h2>
  <img src="https://miro.medium.com/max/1400/1*ASPrAbd2qtFVSVuru7Y7Rw.png" />
  <p class="lead">
      <%= err.message %>
  </p>
</div>

<%- include('../partials/footer') %>