<%- include('../partials/header') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="h1 display-4">500</h2>
  <img src="https://i.pinimg.com/600x315/42/1b/67/421b678b9ede3f9eaf6dcffaa26da2c0.jpg" />
  <p class="lead">
      <%= err.message %>
  </p>
</div>

<%- include('../partials/footer') %>